.myDiv {
  display: flex;
  justify-content: space-around;
  margin: 15px;
  padding: 10px;
  }
  .gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  }
  .item {
  width: 30%;
  margin: 10px;
  }